<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="MPLService">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <dependent-module archiveName="mpl-service-dao-1.00PF5.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/mpl-service-dao/mpl-service-dao">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="mpl-service-dto-1.00PF5.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/mpl-service-dto/mpl-service-dto">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/dch-service-services/target/classes"/>
        <property name="context-root" value="MPLService"/>
    </wb-module>
</project-modules>
